@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-4">
   This is an sample application that automatically calculates employees (DA , HRA , TA ,FA ,PF , Insurance ,Gross pay,Net Pay ,Total deductions)
   <div>
       Based on salary and experience input
   </div>
</div>

<center>
    <div class="mt-5">
        <h3><i>Please click here to see employee details</i></h3>
        <h6><i><a asp-action="Index" asp-controller="Employee">See Details</a></i></h6>
    </div>

</center>


